@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Source Sans 3', sans-serif;
    --background: 210 14% 96%;
    --foreground: 190 43% 10%;
    --card: 0 0% 100%;
    --card-foreground: 190 43% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 190 43% 10%;
    --primary: 14 70% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 43% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 200 10% 90%;
    --muted-foreground: 190 15% 40%;
    --accent: 190 25% 23%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 10% 85%;
    --input: 200 10% 85%;
    --ring: 14 70% 62%;
    --chart-1: 14 70% 62%;
    --chart-2: 190 43% 10%;
    --chart-3: 190 25% 23%;
    --chart-4: 169 14% 73%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 190 43% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 14 70% 62%;
  }

  .dark {
    --background: 190 43% 6%;
    --foreground: 0 0% 98%;
    --card: 190 43% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 190 43% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 14 70% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 25% 23%;
    --secondary-foreground: 0 0% 98%;
    --muted: 190 20% 15%;
    --muted-foreground: 169 14% 73%;
    --accent: 190 25% 23%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 20% 18%;
    --input: 190 20% 18%;
    --ring: 14 70% 62%;
    --chart-1: 14 70% 62%;
    --chart-2: 169 14% 73%;
    --chart-3: 190 25% 23%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 190 43% 6%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 14 70% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 190 20% 15%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 190 20% 15%;
    --sidebar-ring: 14 70% 62%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}